/* NAVIGATION */
#navbar{
    flex-direction: column;
}
#navbar ul a{
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 0px 8px;
}
/* HOME SECTION */
#home{
    height: 370px;
    padding: 3px 66px;
}
#home::before{
    height: 400px;
}
#home p{
    font-size: 13px;    
}

/* SERVICES SECTION */
#services{

    flex-direction: column;
}


#services .box{
    padding: 14px;
    margin: 2px 0px;
    margin: 20px;
}

/* CLIENT SECTION */
#clients{
    flex-wrap: wrap;
}
#clients img{
    width: 66px;
    padding:0px  56px;
    height: auto;
}


/* CONTACT US SECTION */

#contact-box form{
    width: 88%;
}

/* FOOTER */

/* UTILIES CLASSES */
.h-primary {
    font-size: 26px;
}

.btn{
    font-size: 13px;
    padding: 6px 11px;
}